$size-big-item: 54.95vw;
$size-big-item-adaptive: 103.03vw;
$size-item-med: 242px;
$size-items-indention: 1.56vw;
$size-items-indention-adaptive: 2.91vw;
$size-indention: 6.98vw;

$c-white: #FFFFFF;
$c-action:#FFB804;

