$size-big-item: 54.95vw;
$size-big-item-adaptive: 103.03vw;
$size-item-med: 242px;
$size-item-med-adaptive-1400: 24.43vw;
$size-item-pop: 14.22vw;
$size-item-pop-adaptive: 20.83vw;
$size-item-pop-adaptive-600: 45.83vw;
$size-large-item-pop: 29.79vw;
$size-large-item-adaptive: 44.67vw;
$size-large-item-adaptive-600: 100vw;
$size-big-item-pop: 30.57vw;
$size-big-item-pop-adaptive: 660px;
$size-items-indention: 1.56vw;
$size-items-indention-adaptive: 2.91vw;
$size-pop-items-indention-row: 2.60vw; 
$size-pop-items-indention-col: 4.43vw; 
$size-indention: 6.98vw;
$size-indention-margin-right: 7.33vw;
$size-indention-pop-padding-right: 1.77vw;
$size-border-radius: 20px;

$c-white: #FFFFFF;
$c-black: #000000;
$c-action:#FFB804;
$c-bg-title: #FFB804;
$c-bg-puple: #802A50;
