
.section__popular-category{
    display: grid; 
    grid-template-areas:
    "title title title title"
    "item_001 item_003 item_003 item_004"
    "item_002 item_003 item_003 item_005";
    grid-row-gap: $size-pop-items-indention-row;
    grid-column-gap: $size-pop-items-indention-col;
    margin: 104px $size-indention-margin-right;
}
.title-popular{
    grid-area: title;
    font-weight: normal;
    font-size: 4vw;
    line-height: 48px; 
}

.popular-section__card{
    display: grid;
    background-size: cover;
    background-position: center; 
    text-align: center; 
    align-content: center; 
    border-radius: $size-border-radius;
}
.pop-item__001{
    @extend %size-img-pop2;
    @extend %orange-right-block-text;
    background-image: url(/assets/images/popular_category/item_popular_001.png);
    grid-area: item_001;
    .popular__card-title{
        @extend %orange-right-block-title;
        .card-title__content{
            @extend %orange-right-block-content;
        }
    }
    
}
.pop-item__002{
    @extend %size-img-pop2;
    @extend %orange-right-block-text;
    background-image: url(/assets/images/popular_category/item_popular_002.png);
    grid-area: item_002;
    .popular__card-title{
        @extend %orange-right-block-title;
        .card-title__content{
            @extend %orange-right-block-content;
        }
    }
}
.pop-item__003{
    @extend %size-big-img-pop;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_003.jpg);
    grid-area: item_003;
    .popular__card-title{
        @extend %shadow-block-text;
       .card-title__content{
            @extend %shadow-block-content;
       }
    }
 
}
.pop-item__004{
    @extend %size-img-pop1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_004.png);
    grid-area: item_004;
    .popular__card-title{
        @extend %card-title_block;
        @include color-block-text($c-bg-puple,$c-white);
        .card-title__content{
            @extend %color-block-content;
        }
    }
}
.pop-item__005{
    @extend %size-img-pop1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_005.png);
    grid-area: item_005;
    .popular__card-title{
        @extend %card-title_block;
        @include color-block-text($c-bg-title,$c-black);
        .card-title__content{
            @extend %color-block-content;
        }
    }
}