
.section__popular-category{
    display: grid; 
    grid-template-areas:
    "title title title title"
    "item_001 item_003 item_003 item_004"
    "item_002 item_003 item_003 item_005";
    grid-row-gap: 50px;
    grid-column-gap: 85px;
    margin: 104px $size-indention-margin-right;
}
.title-popular{
    grid-area: title;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px; 
}

.popular-section__card{
    display: grid;
    background-size: cover;
    background-position: center; 
    text-align: center; 
    align-content: center; 
}
.pop-item__001{
    @extend %size-img-pop2;
    @extend %orange-right-block-text;
    background-image: url(/assets/images/popular_category/item_popular_001.png);
    grid-area: item_001;
    .popular__card-title{
        @extend %orange-right-block-title;
        .card-title__content{
            @extend %orange-right-block-content;
        }
    }
    
}
.pop-item__002{
    @extend %size-img-pop2;
    @extend %orange-right-block-text;
    background-image: url(/assets/images/popular_category/item_popular_002.png);
    grid-area: item_002;
    .popular__card-title{
        @extend %orange-right-block-title;
        .card-title__content{
            @extend %orange-right-block-content;
        }
    }
}
.pop-item__003{
    @extend %size-big-img-pop;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_003.jpg);
    grid-area: item_003;
    .popular__card-title{
        @extend %shadow-block-text;
       .card-title__content{
            @extend %shadow-block-content;
       }
    }
 
}
.pop-item__004{
    @extend %size-img-pop1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_004.png);
    grid-area: item_004;
    .popular__card-title{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include color-block-text(#802A50,$c-white);
        .card-title__content{
            @extend %color-block-content;
        }
    }
}
.pop-item__005{
    @extend %size-img-pop1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/images/popular_category/item_popular_005.png);
    grid-area: item_005;
    .popular__card-title{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include color-block-text($c-bg-title,$c-black);
        .card-title__content{
            @extend %color-block-content;
        }
    }
}




// %size-img-pop1 {
//     width: $size-item-pop;
//     height:  $size-item-pop;
//   }
//   %size-img-pop2 {
//     width:$size-large-item-pop;
//     height:  $size-item-pop;
//   }
//   %size-big-img-pop {
//     width: $size-big-item-pop;
//     height:  $size-big-item-pop;
//   }
//   %align-item{
//     display: grid;
//     align-items: flex-end;
//     justify-content: center;
//   }
//   %align-item-right{
//     display: grid;
//     align-items: flex-end;
//     justify-content: right;
//   }

// .section__popular-category{
//     display: grid;  
//     gap:$size-items-indention;
//     grid-template-areas: 
//     "title title title title"
//     "item_001 item_003 item_003 item_004"
//     "item_002 item_003 item_003 item_005";
//      position: relative;
//     img{
//        position: absolute;
//        object-fit: cover;
//        z-index: -100;   

//     }
//     .title{
//         grid-area: title;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 48px;
//         line-height: 100%;
//     }
// }

// .pop-item__001{
//     @extend %size-img-pop2;
//     @extend %align-item-right;
   
//     grid-area: item_001;
//     .popular__card-title{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: $size-item-pop;
//         height: $size-item-pop;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 32px;
//         line-height: 150%;
//         background: #FFB804;;
//         mix-blend-mode: normal;
//         border-radius: 0px 20px 20px 0px;
//     }
   
// }
// .pop-item__002{
//     @extend %size-img-pop2;
//     @extend %align-item-right;
//     grid-area: item_002;
//     .popular__card-title{
//         display: flex;
//         align-items: center;
//         text-align: center;
//         justify-content: center;
//         width: $size-item-pop;
//         height: $size-item-pop;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 32px;
//         line-height: 150%;
//         background: #E6E6E6;
//         mix-blend-mode: normal;
//         border-radius: 0px 20px 20px 0px;
//     }
    
// }
// .pop-item__003{
//     @extend %size-big-img-pop;  
//     @extend %align-item;
//     grid-area: item_003;

//     .popular__card-title{
//         display: grid;
//         justify-content: center;
//         width: $size-big-item-pop;
//         padding: 10px 24px;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 48px;
//         line-height: 100%;
//         font-feature-settings: 'pnum' on, 'lnum' on;
//         background: #000000;
//         mix-blend-mode: multiply;
//         opacity: 0.5;
//         border-radius: 0px 0px 20px 20px;
//         color: #FFFFFF;
//     }
    
// }
// .pop-item__004{
//     @extend %size-img-pop1;
//     @extend %align-item;

//     grid-area: item_004;

//     .popular__card-title{
//         display: grid;
//         justify-content: center;
//         text-align: center;
//         padding: 10px 24px;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 24px;
//         line-height: 100%;
//         background: #802A50;
//         mix-blend-mode: normal;
//         border-radius: 0px 0px 20px 20px;
//         color: #FFFFFF;
//     }
// }
// .pop-item__005{
//     @extend %size-img-pop1;
//     @extend %align-item;

//     grid-area: item_005;

//     .popular__card-title{
//         display: grid;
//         justify-content: center;
//         width: $size-item-pop;
//         padding: 24px;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 32px;
//         line-height: 75%;
//         background: #FFB804;
//         mix-blend-mode: normal;
//         border-radius: 0px 0px 20px 20px;
//     }
// }

// .popular__card-title{
//     background-color: red;
// }