@import "src/assets/styles/util/vars";
@import "src/assets/styles/util/global";
@import "src/assets/styles/util/mixins";
@import "src/assets/styles/util/inheritance";
@import "src/assets/styles/sections/section_medicine";
@import "src/assets/styles/sections/media/section_medicine_mobile";
@import "src/assets/styles/sections/section_popular_category";


@import "src/assets/styles/util/normalize";